@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logo{
 transition-timing-function: ease-in;
}
.logo:hover {
  transform: scale(1.2);
}
#home {
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  object-fit:cover;
  background-image: url("https://img.freepik.com/free-vector/blue-pink-halftone-background_53876-99004.jpg?t=st=1710662846~exp=1710666446~hmac=6bbafbe41f6f07e6d42f4e999b29e0d3b92d46efbbdef53b9add4d8e785d2e24&w=740");
}
